# <center>Pandas Assignment</center>

Import pandas and numpy with their aliases

In [1]:
import numpy as np
import pandas as pd

Create a variable a = pd.Series([ 100, 200, 300, 400])

In [2]:
a = pd.Series([ 100, 200, 300, 400])

Print a, and data type

In [3]:
print(a)
print(a.dtype)

0    100
1    200
2    300
3    400
dtype: int64
int64

Using indexing access the element 300 from the series a.

In [4]:
a.iloc[2]

300

What are the values of index for series a?

In [5]:
print(a.index)

RangeIndex(start=0, stop=4, step=1)

Change the index to  ['c', 'a', 'b', 'd']

In [6]:
a.index = ['c', 'a', 'b', 'd']
print(a)

c    100
a    200
b    300
d    400
dtype: int64

Access the value in the series with index 'd'

In [7]:
a.loc['d']

400

Sort the values wrt to the index and print it

In [8]:
a.sort_index()

a    200
b    300
c    100
d    400
dtype: int64

Create a new Pandas Series b having index as 'e', 'f', and 'g' and value 800,450,100 and print it

In [9]:
b = pd.Series([800,450,100], index = ['e', 'f', 'g'])
print(b)

e    800
f    450
g    100
dtype: int64

Append b series at the end of a series

In [17]:
a = a._append(b)
a

c    100
a    200
b    300
d    400
e    800
f    450
g    100
dtype: int64

In [18]:
#print a again after appending b into it
print(a)

c    100
a    200
b    300
d    400
e    800
f    450
g    100
dtype: int64

Sort the values in descending order of a and print the index of the sorted series

In [19]:
a = a.sort_values(ascending = False)
print(a)

e    800
f    450
d    400
b    300
a    200
c    100
g    100
dtype: int64

## Pandas DataFrame

### Part 1

Create a pandas dataframe df from the series 'a' that we used in the last section, print the dataframe

In [20]:
df = pd.DataFrame(a)

In [21]:
df

     0
e  800
f  450
d  400
b  300
a  200
c  100
g  100

What is the shape of the datafarme <br>
(also, what does it imply?)

In [22]:
df.shape

(7, 1)

Hey! remember shape (7,1) implies dataframe has 7 rows and 1 column.

What is the index of the dataframe, is it same as the series 'a'

In [23]:
# yep its same as the series.
a.index

Index(['e', 'f', 'd', 'b', 'a', 'c', 'g'], dtype='object')

print the head and tail of the dataframe. <br>
Additional - (what does head and tali represent?)

In [24]:
df.head()

     0
e  800
f  450
d  400
b  300
a  200

In [25]:
df.tail()

     0
d  400
b  300
a  200
c  100
g  100

Rename the column of the dataframe as 'points'

In [26]:
df.columns = ['points']

Create another Series 'fruits', which contains random names of fruits from ['orange','mango','apple']. The series should contain 7 elements, randomly selected from ['orange','mango','apple']

In [27]:
#Create fruits array

fruits = np.random.choice(['orange','mango','apple'], 7)
fruits

array(['orange', 'apple', 'apple', 'apple', 'orange', 'mango', 'orange'],
      dtype='<U6')

In [28]:
#Create series fruits out of fruits array

fruits = pd.Series(fruits)
fruits

0    orange
1     apple
2     apple
3     apple
4    orange
5     mango
6    orange
dtype: object

Change the index of fruits to the index of dataframe df

In [29]:
df.index = fruits
df

        points
orange     800
apple      450
apple      400
apple      300
orange     200
mango      100
orange     100

Add this fruits series as a new column to the dataframe df with its column name as 'fruits'
<br>print the head of the dataframe to verify

In [31]:
df['fruits'] = df.index
df.head()

        points  fruits
orange     800  orange
apple      450   apple
apple      400   apple
apple      300   apple
orange     200  orange

## Pandas Concatenation

Create a dataframe  d1 where the cols are  ‘city’ : [‘Chandigarh’, ‘Delhi’, ‘Kanpur’, ‘Chennai’, ‘Manali’ ] and ‘Temperature’ : [15, 22, 20, 26,-2]

In [32]:
d1 = pd.DataFrame({
    "city" : ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali' ],
    "Temperature" : [15, 22, 20, 26,-2]
})

Print(d1)

In [33]:
print(d1)

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

What is the shape of d1.

In [34]:
d1.shape

(5, 2)

Set city = d1['city']

In [35]:
d1.set_index('city', inplace = True)

print city <br>
What is the type of city.

In [36]:
print(d1.index)
print(type(d1.index))

Index(['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'], dtype='object', name='city')
<class 'pandas.core.indexes.base.Index'>

Create another datafeame 'd2' where the columns are <br>
'city' - ['Bengalaru','Coimbatore','Srirangam','Pondicherry'] <br>
'Temperature' - [24,35,36,39]

In [37]:
d2 = pd.DataFrame({
    "city" : ['Bengalaru','Coimbatore','Srirangam','Pondicherry'],
    "Temperature" : [24,35,36,39]
})

print the shape of this dataframe

In [38]:
d2.shape

(4, 2)

merge the two dataframes together, save it in a new dataframe named 'd3'

In [43]:
d3 = pd.concat([d1, d2], axis = 0)

Select the part of the dataframe such that it contains cities wherer temp is less then or equal to 20 <br>
How many cities are there?

In [44]:
d4 = d3[d3['Temperature'] <= 20]
print(d4)
print(len(d4))

            Temperature city
Chandigarh           15  NaN
Kanpur               20  NaN
Manali               -2  NaN
3

Select the part of the dataframe such that it contains the cities where tempearature greater than or equal to 35

In [45]:
d5 = d3[d3['Temperature'] >= 35]
print(d5)

   Temperature         city
1           35   Coimbatore
2           36    Srirangam
3           39  Pondicherry

## Applying functions to columns and creating new columns

We need to create another column in d3, which contains  a boolean value for each city to indicate whether it's a union territory or not.
- HINT: Chandigarh, Pondicherry and Delhi are only 3 union territories here.

In [46]:
# write function here

def is_ut(x):
    if x in ['Chandigarh', 'Pondicherry', 'Delhi']:
        return True
    else:
        return False

d3['is_ut'] = d3['city'].apply(is_ut)

In [47]:
# print d3
print(d3)

            Temperature         city  is_ut
Chandigarh           15          NaN  False
Delhi                22          NaN  False
Kanpur               20          NaN  False
Chennai              26          NaN  False
Manali               -2          NaN  False
0                    24    Bengalaru  False
1                    35   Coimbatore  False
2                    36    Srirangam  False
3                    39  Pondicherry   True

The temperatures mentioned in ‘Temperature’ column are mentioned in Celsius, we need another column which contains the same in Fahrenheit.

HINT -
- Define a function c_to_f which takes input temp in celsius and returns a value with temperature in Fahrenheit.
- To check: c_to_f(10) should return 50.

In [48]:
# write function here
def c_to_f(x):
    return (x * 9/5) + 32

In [49]:
# check function c_to_f(10)
c_to_f(10)

50.0

In [50]:
# apply function c_to_f to d3 to create a column 'temp_farenhiet'
d3['temp_farenhiet'] = d3['Temperature'].apply(c_to_f)

## Indexing and selecting rows in DataFrame

Select subset of the dataframe d1 such that it contains the cities which are union territories.

In [52]:
d1_ut = d3[d3['is_ut'] == True]
d1_ut

   Temperature         city  is_ut  temp_farenhiet
3           39  Pondicherry   True           102.2

Select a subset of the dataframe d1 such that it contains the cities which only have temperature above 90 Farenhiet.

In [53]:
d1_90 = d3[d3['temp_farenhiet'] > 90]
d1_90

   Temperature         city  is_ut  temp_farenhiet
1           35   Coimbatore  False            95.0
2           36    Srirangam  False            96.8
3           39  Pondicherry   True           102.2

Select only the first three rows of the dataframe d1.

In [54]:
d1.iloc[:3]

            Temperature
city
Chandigarh           15
Delhi                22
Kanpur               20

Select all the rows and last two columns in the dataframe.

In [55]:
d1.iloc[:, -2:]

            Temperature
city
Chandigarh           15
Delhi                22
Kanpur               20
Chennai              26
Manali               -2

## Groupby

In [56]:
# Create a dataframe using dictionary of your choice

data = pd.DataFrame({
    "city" : ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali' ],
    "Temperature" : [15, 22, 20, 26,-2]
})

In [57]:
# Use Groupby of single column with aggregate sum()

data.groupby('city')['Temperature'].sum()

city
Chandigarh    15
Chennai       26
Delhi         22
Kanpur        20
Manali        -2
Name: Temperature, dtype: int64

In [58]:
# Use Groupby of single column with aggregate count()

data.groupby('city')['Temperature'].count()

city
Chandigarh    1
Chennai       1
Delhi         1
Kanpur        1
Manali        1
Name: Temperature, dtype: int64

In [59]:
# Use Groupby of single column with aggregate min() and max()

data.groupby('city')['Temperature'].min()

city
Chandigarh    15
Chennai       26
Delhi         22
Kanpur        20
Manali        -2
Name: Temperature, dtype: int64

In [60]:
data.groupby('city')['Temperature'].max()

city
Chandigarh    15
Chennai       26
Delhi         22
Kanpur        20
Manali        -2
Name: Temperature, dtype: int64

In [61]:
# Use Groupby of any 2 columns with aggregate mean()

data.groupby(['city', 'Temperature'])['Temperature'].mean()

city        Temperature
Chandigarh   15            15.0
Chennai      26            26.0
Delhi        22            22.0
Kanpur       20            20.0
Manali      -2             -2.0
Name: Temperature, dtype: float64

In [62]:
# Use Groupby of any 2 columns with aggregate min() and max()

data.groupby(['city', 'Temperature'])['Temperature'].min()

city        Temperature
Chandigarh   15            15
Chennai      26            26
Delhi        22            22
Kanpur       20            20
Manali      -2             -2
Name: Temperature, dtype: int64

In [63]:
data.groupby(['city', 'Temperature'])['Temperature'].max()

city        Temperature
Chandigarh   15            15
Chennai      26            26
Delhi        22            22
Kanpur       20            20
Manali      -2             -2
Name: Temperature, dtype: int64

## Data Range

Create a pandas daterange where starting date is 1st of January,2020 and end date is 1st of April 2021, store it in a new variable named 'a'

In [64]:
a = pd.date_range(start = '2020-01-01', end = '2021-04-01')

print a

In [65]:
print(a)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
               '2021-03-27', '2021-03-28', '2021-03-29', '2021-03-30',
               '2021-03-31', '2021-04-01'],
              dtype='datetime64[ns]', length=457, freq='D')

What is the len of a?

In [66]:
len(a)

457

What is the type of a?

In [67]:
type(a)

pandas.core.indexes.datetimes.DatetimeIndex