<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

💫 `immutable` => `can't be changed` <br>
💫 `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‘a’, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'
a = []

In [2]:
# print the value of a
print(a)

[]

In [3]:
# print the type of a
type(a)

list

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [4]:
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [5]:
len(languages)

5

Using for loop iterate and print all the elements in the list

In [6]:
for i in languages:
  print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [7]:
temp = languages[1]

Print the value of temp and type(temp)

In [8]:
print(temp)

Python

Append the element 'Java' in the list

In [9]:
languages.append('Java')

Remove the element 42 from the list and print the list

In [10]:
languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

In [11]:
colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [12]:
colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [14]:
colors.insert(1,'Orange')

Print the list

In [15]:
print(colors)

['Red', 'Orange', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [16]:
colors2 = ['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [17]:
colors.extend(colors2)

Print len of colors and its elements

In [18]:
len(colors)

8

Sort the list and print it.

In [19]:
colors.sort()
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

In [23]:
sent = 'Coronavirus Caused Lockdowns Around The World.'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [24]:
words = sent.split()
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower.
Print words_lower

In [25]:
words_lower = []
for i in words:
  words_lower.append(i.lower())
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‘country’ is in the list

In [26]:
words_lower.count('country')

0

Remove the element ‘the’ from the list and print the list.

In [27]:
words_lower.remove('the')
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [28]:
x4 = words_lower[:4]

In [29]:
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [30]:
words_lower = ' '.join(words_lower)
print(words_lower)

coronavirus caused lockdowns around world.

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [31]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [32]:
len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [33]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [34]:
print(stud_grades_set)

{'A', 'F', 'C', 'B'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [37]:
print(type(stud_grades))
print(stud_grades)
print(type(stud_grades_set))
print(stud_grades_set)

<class 'list'>
['A', 'A', 'B', 'C', 'C', 'F']
<class 'set'>
{'A', 'F', 'C', 'B'}

Add a new element ‘G’ to stud_grades_set

In [38]:
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [39]:
stud_grades_set.add('F')
print(stud_grades_set)

{'B', 'G', 'C', 'A', 'F'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [40]:
stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [41]:
print(stud_grades_set)
print(len(stud_grades_set))

{'B', 'G', 'C', 'A'}
4

### Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

In [43]:
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [44]:
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [45]:
colors_set = set(colors)
fruits_set = set(fruits)
print(colors_set)
print(fruits_set)

{'blue', 'red', 'orange'}
{'orange', 'apples', 'grapes'}

Find the union of both the sets.

In [49]:
union_set = colors_set.union(fruits_set)
union_set

{'apples', 'blue', 'grapes', 'orange', 'red'}

Find the intersection of both the sets

In [48]:
intersection_set = colors_set.intersection(fruits_set)
intersection_set

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [50]:
set_diff = fruits_set.difference(colors_set)
set_diff

{'apples', 'grapes'}

## TUPLES

### Create temp = [17, ’Virat’, 50.0]

In [51]:
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [57]:
temp = list(temp)
for i in temp:
  print(i)

17
Virat
50.0

replace first element with 11 in temp

In [58]:
temp[0] = 11

Set temp1 = tuple(temp)

In [59]:
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [60]:
for i in temp1:
  print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [61]:
temp1[0] = 17

TypeError: 'tuple' object does not support item assignment

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [62]:
city = ('Bangalore', 28.9949521, 72)

Print first element of city

In [63]:
print(city[0])

Bangalore

Create city2 = (‘Chennai’, 30.01, 74)

In [64]:
city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [65]:
cities = (city, city2)

Print cities

In [66]:
print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [67]:
type(cities[0])

tuple

print the type of cities

In [68]:
type(cities)

tuple

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [69]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [70]:
print(d[0])

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [71]:
actor = d['actor']

Print the type of actor

In [72]:
type(actor)

str

Store the value of d[‘list’] in new variable List.

In [73]:
List = d['list']

Print the type of List.

In [74]:
type(List)

list

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [75]:
d1 = {'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [76]:
d.update(d1)

print d

In [77]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [78]:
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [79]:
print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [80]:
for key, value in d.items():
  print(f"({key} ----> {value})")

(actor ----> amir)
(animal ----> cat)
(earth ----> 2)
(list ----> [23, 32, 12])
(singer ----> Kr$na)
(album ----> Still here)
(genre ----> hip-hop)

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [81]:
char_counts = {}
for char in sent:
    char_counts[char] = char_counts.get(char, 0) + 1
char_counts

{'C': 2,
 'o': 6,
 'r': 4,
 'n': 3,
 'a': 2,
 'v': 1,
 'i': 1,
 'u': 3,
 's': 3,
 ' ': 5,
 'e': 2,
 'd': 4,
 'L': 1,
 'c': 1,
 'k': 1,
 'w': 1,
 'A': 1,
 'T': 1,
 'h': 1,
 'W': 1,
 'l': 1,
 '.': 1}